<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erim.takenote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GridFragment" />
        <activity android:name=".ListFragment" />
        <activity android:name=".Details" />
        <activity android:name=".Settings"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity android:name=".AddNote" />
        <activity android:name=".Lv_And_Gv_Adaptor"></activity>
    </application>

</manifest>